.material-list {
    list-style-type: none;
    padding-left: 0px;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
}

.material-list li {
    display: flex;
    flex-direction: column;
}

.imgAndMaterialsContainer {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}
.materialsContainer {
    display:flex;
    flex-direction: column;
    margin-top: 0;
    margin-left: 0;
}

.patternCanvas {
    width: 25em;
    height: 20em;
}

.descriptionAndInstructionContainer {
    margin-left: 1em;
}

.patternContainer h1 {
    margin-left: 0.2em;
    margin-bottom: 0.2em;
}

.patternContainer h2 {
    margin-left: 0;
    margin-bottom: 0;
}

