/* Styling of tab */
.tab-container {
    display: flex;
    flex-direction: column;
    max-width: 40em;
    padding: 0.5em;
}
.tabs {
    width: 100%;
    margin-bottom: 1em;
    background-color: black;
    color: white;

}

.tablinks {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 500;
    font-size: 16px;

}

/* tab button styling */

.tabs button {
    color: white;
    background-color: black;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: none;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tabs button:hover {
    background-color: white;
    color: black;
}

.tabs button.active {
    background-color: white;
}

/* styling of tab content */
.tabContents {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.activeTabContent {
    display: block;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}


