
.create-form {
    background-color: #dddddd;
    color: black;
    padding: 5px;
}
.form-input-text{
    background-color: white;
    color:black;
    border-style: solid;
    border-color: transparent;
    padding: 5px;
    border-radius: 25px;
    min-width: 120px;
    min-height: 30px;
    outline: none;
    font-size: 16px;
    font-family: Arial;
    margin: 5px;
}
.form-input-text:hover {
    border-color: #dfe1e5;
    box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
}
.form-textarea{
    background-color: white;
    color: black;
    padding: 5px;
    min-width: 95%;
    min-height: 140px;
    font-size: 16px;
    font-family: Arial;
    outline: none;
    border-color: transparent;
}
.form-textarea:hover {
    border-color: #dfe1e5;
    box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
}
.form-textarea:focus {
    border-color: #dfe1e5;
    box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
}


ul {
    background-color: white;
}

fieldset {
    border-color: #213547;
    border-radius: 5px;
}
.hook-container {
    display: grid;
    gap: 5px;
    margin: 5px;
}



