
.create-form {
    color: white;
    padding: 5px;
    max-width: 40em;
}
.form-input-text{
    background-color: #292e37;
    color:grey;
    border-style: solid;
    border-color: transparent;
    padding: 5px;
    border-radius: 4px;
    min-height: 3em;
    min-width: 25em;
    outline: none;
    font-size: 16px;
    font-family: Arial;
    margin: 5px;
}
.form-input-text:hover {
    border-color: blue;
    box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
}
.form-textarea{
    background-color: #292e37;
    color: grey;
    padding: 5px;
    min-width: 95%;
    min-height: 140px;
    font-size: 16px;
    font-family: Arial;
    outline: none;
    border-color: transparent;
}
.form-textarea:hover {
    border-color: blue;
    box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
}
.form-textarea:focus {
    border-color: blue;
    box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
}

.select-type {
    background-color: #292e37;
    color: grey;
    border-radius: 4px;
}

.select-type:hover {
    border-color: blue;
    box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
}
ul {
    background-color: white;
}

fieldset {
    border-color: #213547;
    border-radius: 5px;
}
.hook-container {
    display: grid;
    gap: 5px;
    margin: 5px;
}

#drop-zone {
    border: 2px dashed #213547;
    border-radius: 5px;
    width: 20em;
    height: 15em;
    padding: 2px;

}
#drop-zone:hover {
    border-color: blue;
}

.button {
    margin-top: 1em;
    margin-bottom: 1em;
    height: 4em;
    font-size: 1em;
    background-color: grey;
    border: none;
    min-width: 25em;
    color: white;
    cursor: pointer;
}
.button:hover {
    border-color: blue;
    background-color: blue;
}
.add-button-container {
    display: flex;
    flex-direction: column;
}

.for-sale-container {
    display: flex;
    flex-direction: row;
}
.for-sale-container label {
    margin-top: 0.4em;
    margin-right: 1em;
}
.for-sale-container input {
    margin-top: 0.5em;
    background: grey;
}
.for-sale-container input {
    margin-top: 0.5em;
    background: grey;
}

.checkbox-wrapper {
    display: inline-block;
    padding: 4px;
    border: 2px solid transparent;
    border-radius: 4px;
    transition: border 0.2s ease;
}
.checkbox-wrapper:hover {
    border: 2px solid blue;
}

.for-sale-checkbox {
    appearance: none;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.for-sale-checkbox:checked {
    background-color: blue;
}

.for-sale-container-dropdown {
   display: flex;
    flex-direction: column;
}

.material-search-field .search-field .auto-search {
    z-index: 9999;
}


.species-search-field .search-field .auto-search {
    z-index: 9997;
}

.species-search-field .search-field .auto-search .wrapper:hover {
   border-color: blue;
}
.material-search-field .search-field .auto-search .wrapper:hover {
    border-color: blue;
}

