.form-input-text {
    background-color: white;
    color: black;
    border-style: solid;
    border-color: transparent;
    border-radius: 25px;
    min-width: 120px;
    min-height: 30px;
    outline: none;
    font-size: 16px;
    font-family: Arial;
    margin: 5px;
}

.image-container {
    background-color: #242424;
}

.name-search-field .search-field .auto-search {
    z-index: 9999;
}

.material-search-field .search-field .auto-search {
    z-index: 9998;
}

.species-search-field .search-field .auto-search {
    z-index: 9997;
}